@import 'partials/normalise';


$background:white;
$accent:cadetblue;
$lightgreen:rgba(95, 158, 160, 0.708);
$darkgreen: #1d4541;


body{
    font-size: 62.5%;
     background-color: $lightgreen;
     font-family: 'Baloo', cursive;
     font-size: 1.6rem;
     
}

.wrapper{
    max-width: 500px;
    margin: 0 auto;
}


// PARTIALS
@import 'partials/intro';
@import 'partials/game';
@import 'partials/leaderBoard';