@import 'partials/normalise';

$background:white;
$accent:cadetblue;


body{
    font-size: 62.5%;
     background-color: rgba(95, 158, 160, 0.708);
     font-family: 'Baloo', cursive;
     font-size: 1.6rem;
     
}

.wrapper{
    max-width: 500px;
    margin: 0 auto;
}


// PARTIALS
@import 'partials/intro';
@import 'partials/game';
@import 'partials/leaderBoard';