 .scoreScreen{
     height: 100vh;
 }
 
 .leaderBoard{
    width: 90%;
    min-width: 340px;
    max-width: 400px;
    height: 90vh;
    background-color: white;
    border-radius:  50px;
    padding:20px 10px;
    margin: 5vh auto;
    text-align: center;
    overflow: hidden;
    background-image: url('/dev/assets/geometry.png');
    background-repeat: repeat;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.35);

    ol{
        list-style: none;
        padding: 0;
       li{
           margin-top: 13px;
       }
    }

    .score{
        margin: 0;
        color: salmon;
        font-size: 2rem;
        
    }

}

.gameOver{
    color: $accent;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Bungee Inline', sans-serif;
}

.join{
    input{
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 20px;
        padding: 0 10px;
        color: $accent;
    }
}


.addPlayer{
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
}

.poppers{
    color: $accent;
    text-transform: uppercase;
    font-size: 1.8rem;
    border-bottom: 3px dotted $darkgreen;
    width: 65%;
    margin: 40px auto 10px;
    font-family: 'Bungee Inline', sans-serif;
}


.credit{
    font-size: 1rem;
    text-align: center;
    color:$accent;
}
